{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "extensions": [
          ".js",
          ".jsx"
        ],
        "alias": {
          "components": "./components"
        }
      }
    ]
  ]
}
